* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*The padding and border are included in the width and height.*/
}

body {
    height: 100vh; /* vh = 1% viewport height*/
    display: flex; /* To center vertically '.memory game' container */
    background-color: #060AB2;
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto; /* To center horizantally '.memory game' container */
    display: flex; /* Row distribution, for all elements same size */
    flex-wrap: wrap; /* Avoid the elements will show in rows */
    perspective: 1000px; /* Define how far the object is away from the user */
    /*border: 2px solid aqua;*/
}

.memory-card {
    width: calc(25% - 10px);    /* To avoid desborder size of '.memory-card' respect '.memory-game' */
    height: cacl(33.3333% - 10px); /* Same */
    margin: 5px;
    position: relative;
    transform: scale(1); /* Original size */
    transform-style: preserve-3d; /* 3D effect */
    transition: transform .5s;
    /*border: 2px solid aqua;*/
}

.memory-card:active { 
    transform: scale(.97); /* Reduce the size image to 97% */
    transition: transform .2s; /* Soft transition */
}

.memory-card.flip {
    transform: rotateY(180deg); /* When this class appears then it will be rotate in Y-axis, 180 degrees */
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute; /* Set absolute if the parent is relative */
    border-radius: 5px;
    background-color: #1c7ccc;
    backface-visibility: hidden; /* Backface will hidde when is flipped */
    /*border: 2px solid deeppink;*/
}

.front-face {
    transform: rotateY(180deg); /* Necessary to see the front face */
}